<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
 id="WebApp_ID" version="4.0">

<welcome-file-list>
<welcome-file>Page.html</welcome-file>
</welcome-file-list>


<servlet>
<servlet-name>Html</servlet-name>
<servlet-class>com.ab.servlet.WishMessageServlet</servlet-class>
</servlet>

<!-- servlet Mapping configuration for HTML-->


<servlet-mapping>
<servlet-name>Html</servlet-name>
<url-pattern>/wishMessage</url-pattern>
</servlet-mapping>










  
  
</web-app>